In [15]:
import pandas as pd

In [16]:
df = pd.read_csv('Meteo_corse_cleaned.csv', sep=';')
pd.set_option('display.max_columns', None)
df.head()

,RR,DRR,TN,HTN,TX,HTX,TM,TMNX,TNSOL,TN50,TAMPLI,TNTXM,FFM,FXI,DXI,HXI,FXY,DXY,HXY,FXI3S,HXI3S,UN,HUN,UX,HUX,DHUMI40,DHUMI80,TSVM,UM,ORAG,BRUME,ETPMON,ETPGRILLE,année,mois,jour,Département
0,16.0,NaN,9.0,NaN,11.5,NaN,NaN,10.25,NaN,NaN,2.5,10.3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2006,1,1,20
1,1.5,NaN,7.0,NaN,10.5,NaN,NaN,8.75,NaN,NaN,3.5,8.8,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0,NaN,NaN,NaN,2006,1,2,20
2,0.3,NaN,1.5,NaN,13.0,NaN,NaN,7.25,NaN,NaN,11.5,7.3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2006,1,3,20
3,0.2,NaN,1.0,NaN,11.5,NaN,NaN,6.25,NaN,NaN,10.5,6.3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2006,1,4,20
4,1.0,NaN,1.5,NaN,12.0,NaN,NaN,6.75,NaN,NaN,10.5,6.8,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2006,1,5,20

In [17]:
# ajout de colonne sur les précispitation moyenne par an et mois
df['moyenne precipitations année'] = df.groupby('année')['RR'].transform('mean')
df['moyenne precipitations mois'] = df.groupby('mois')['RR'].transform('mean')

In [18]:
# moyenne ecapotranspiration par mois et année
df['moyenne evapotranspiration année'] = df.groupby('année')['ETPMON'].transform('mean')
df['moyenne evapotranspiration mois'] = df.groupby('mois')['ETPMON'].transform('mean')

In [20]:
# moyenne vitesse de vent par mois et année
df['moyenne vitesse vent année'] = df.groupby('année')['FFM'].transform('mean')
df['moyenne vitesse vent mois'] = df.groupby('mois')['FFM'].transform('mean')

In [21]:
# moyenne température par mois et année
df['moyenne temperature année'] = df.groupby('année')['TM'].transform('mean')
df['moyenne temperature mois'] = df.groupby('mois')['TM'].transform('mean')

In [24]:
df.head()

,RR,DRR,TN,HTN,TX,HTX,TM,TMNX,TNSOL,TN50,TAMPLI,TNTXM,FFM,FXI,DXI,HXI,FXY,DXY,HXY,FXI3S,HXI3S,UN,HUN,UX,HUX,DHUMI40,DHUMI80,TSVM,UM,ORAG,BRUME,ETPMON,ETPGRILLE,année,mois,jour,Département,moyenne precipitations année,moyenne precipitations mois,moyenne evapotranspiration année,moyenne evapotranspiration mois,moyenne vitesse vent année,moyenne vitesse vent mois,moyenne temperature année,moyenne temperature mois
0,16.0,NaN,9.0,NaN,11.5,NaN,NaN,10.25,NaN,NaN,2.5,10.3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2006,1,1,20,1.731077,3.075112,3.325753,1.32346,3.525229,3.789412,15.162838,7.558919
1,1.5,NaN,7.0,NaN,10.5,NaN,NaN,8.75,NaN,NaN,3.5,8.8,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0,NaN,NaN,NaN,2006,1,2,20,1.731077,3.075112,3.325753,1.32346,3.525229,3.789412,15.162838,7.558919
2,0.3,NaN,1.5,NaN,13.0,NaN,NaN,7.25,NaN,NaN,11.5,7.3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2006,1,3,20,1.731077,3.075112,3.325753,1.32346,3.525229,3.789412,15.162838,7.558919
3,0.2,NaN,1.0,NaN,11.5,NaN,NaN,6.25,NaN,NaN,10.5,6.3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2006,1,4,20,1.731077,3.075112,3.325753,1.32346,3.525229,3.789412,15.162838,7.558919
4,1.0,NaN,1.5,NaN,12.0,NaN,NaN,6.75,NaN,NaN,10.5,6.8,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2006,1,5,20,1.731077,3.075112,3.325753,1.32346,3.525229,3.789412,15.162838,7.558919

In [23]:
df.to_csv('Meteo_corse_cleaned_features.csv', sep=';', index=False, encoding='utf-8')