In [6]:
%pip install requests
import pandas as pd
import requests

Collecting requests
  Using cached requests-2.32.3-py3-none-any.whl.metadata (4.6 kB)
Collecting charset-normalizer<4,>=2 (from requests)
  Using cached charset_normalizer-3.4.2-cp312-cp312-win_amd64.whl.metadata (36 kB)
Collecting idna<4,>=2.5 (from requests)
  Using cached idna-3.10-py3-none-any.whl.metadata (10 kB)
Collecting urllib3<3,>=1.21.1 (from requests)
  Using cached urllib3-2.4.0-py3-none-any.whl.metadata (6.5 kB)
Collecting certifi>=2017.4.17 (from requests)
  Using cached certifi-2025.4.26-py3-none-any.whl.metadata (2.5 kB)
Using cached requests-2.32.3-py3-none-any.whl (64 kB)
Using cached charset_normalizer-3.4.2-cp312-cp312-win_amd64.whl (105 kB)
Using cached idna-3.10-py3-none-any.whl (70 kB)
Using cached urllib3-2.4.0-py3-none-any.whl (128 kB)
Using cached certifi-2025.4.26-py3-none-any.whl (159 kB)
Installing collected packages: urllib3, idna, charset-normalizer, certifi, requests

   ---------------------------------------- 0/5 [urllib3]
   ---------------------------------------- 0/5 [urllib3]
   ---------------------------------------- 0/5 [urllib3]
   ---------------------------------------- 0/5 [urllib3]
   ---------------------------------------- 0/5 [urllib3]
   ---------------------------------------- 0/5 [urllib3]
   -------- ------------------------------- 1/5 [idna]
   -------- ------------------------------- 1/5 [idna]
   ---------------- ----------------------- 2/5 [charset-normalizer]
   ---------------- ----------------------- 2/5 [charset-normalizer]
   ---------------- ----------------------- 2/5 [charset-normalizer]
   -------------------------------- ------- 4/5 [requests]
   -------------------------------- ------- 4/5 [requests]
   -------------------------------- ------- 4/5 [requests]
   ---------------------------------------- 5/5 [requests]

Successfully installed certifi-2025.4.26 charset-normalizer-3.4.2 idna-3.10 requests-2.32.3 urllib3-2.4.0
Note: you may need to restart the kernel to use updated packages.

In [2]:
filepath = 'Incendies.csv'
df= pd.read_csv(filepath,sep=';', encoding='utf-8', skiprows=3)

display(df.describe(include='all')),df.head(20), df.info()

,Année,Numéro,Département,Code INSEE,Nom de la commune,Date de première alerte,Surface parcourue (m2),Surface forêt (m2),Surface maquis garrigues (m2),Autres surfaces naturelles hors forêt (m2),...,Surfaces non boisées artificialisées (m2),Surfaces non boisées (m2),Précision des surfaces,Type de peuplement,Nature,Décès ou bâtiments touchés,Nombre de décès,Nombre de bâtiments totalement détruits,Nombre de bâtiments partiellement détruits,Précision de la donnée
count,29732.000000,29732.000000,29732,29732,29705,29732,2.973200e+04,2.100500e+04,8.809000e+03,1.453600e+04,...,7.422000e+03,1.167100e+04,12091,11135.000000,14111,4731,866.000000,867.000000,866.000000,813
unique,NaN,NaN,96,7740,7586,29053,NaN,NaN,NaN,NaN,...,NaN,NaN,2,NaN,5,2,NaN,NaN,NaN,1
top,NaN,NaN,13,97415,Saint-Paul,2020-07-30 00:51:00,NaN,NaN,NaN,NaN,...,NaN,NaN,Estimées,NaN,Malveillance,Non,NaN,NaN,NaN,Données partielles ou non valides
freq,NaN,NaN,2688,363,366,7,NaN,NaN,NaN,NaN,...,NaN,NaN,9653,NaN,4593,4690,NaN,NaN,NaN,813
mean,2018.986715,8390.076382,NaN,NaN,NaN,NaN,5.425808e+04,4.481169e+04,4.277521e+04,9.906364e+03,...,3.538426e+03,1.140125e+04,NaN,1.998383,NaN,NaN,0.003464,0.110727,0.062356,NaN
std,2.991246,6514.790521,NaN,NaN,NaN,NaN,1.115496e+06,1.225440e+06,4.436538e+05,1.234060e+05,...,4.687192e+04,1.633593e+05,NaN,1.437769,NaN,NaN,0.058789,2.353654,1.032777,NaN
min,2014.000000,1.000000,NaN,NaN,NaN,NaN,1.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,...,0.000000e+00,0.000000e+00,NaN,1.000000,NaN,NaN,0.000000,0.000000,0.000000,NaN
25%,2016.000000,2683.000000,NaN,NaN,NaN,NaN,1.000000e+02,0.000000e+00,2.000000e+01,0.000000e+00,...,0.000000e+00,0.000000e+00,NaN,1.000000,NaN,NaN,0.000000,0.000000,0.000000,NaN
50%,2019.000000,7244.000000,NaN,NaN,NaN,NaN,1.000000e+03,1.500000e+02,5.000000e+02,0.000000e+00,...,0.000000e+00,0.000000e+00,NaN,1.000000,NaN,NaN,0.000000,0.000000,0.000000,NaN
75%,2022.000000,12175.250000,NaN,NaN,NaN,NaN,1.000000e+04,3.000000e+03,7.900000e+03,3.000000e+02,...,0.000000e+00,0.000000e+00,NaN,3.000000,NaN,NaN,0.000000,0.000000,0.000000,NaN
max,2024.000000,29809.000000,NaN,NaN,NaN,NaN,1.255200e+08,1.255200e+08,1.890000e+07,8.187317e+06,...,2.200000e+06,1.132000e+07,NaN,6.000000,NaN,NaN,1.000000,69.000000,30.000000,NaN

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 29732 entries, 0 to 29731
Data columns (total 24 columns):
 #   Column                                      Non-Null Count  Dtype
---  ------                                      --------------  -----
 0   Année                                       29732 non-null  int64
 1   Numéro                                      29732 non-null  int64
 2   Département                                 29732 non-null  object
 3   Code INSEE                                  29732 non-null  object
 4   Nom de la commune                           29705 non-null  object
 5   Date de première alerte                     29732 non-null  object
 6   Surface parcourue (m2)                      29732 non-null  int64
 7   Surface forêt (m2)                          21005 non-null  float64
 8   Surface maquis garrigues (m2)               8809 non-null   float64
 9   Autres surfaces naturelles hors forêt (m2)  14536 non-null  float64
 10  Surfaces agricoles (m2)                     4064 non-null   float64
 11  Autres surfaces (m2)                        4048 non-null   float64
 12  Surface autres terres boisées (m2)          10551 non-null  float64
 13  Surfaces non boisées naturelles (m2)        7620 non-null   float64
 14  Surfaces non boisées artificialisées (m2)   7422 non-null   float64
 15  Surfaces non boisées (m2)                   11671 non-null  float64
 16  Précision des surfaces                      12091 non-null  object
 17  Type de peuplement                          11135 non-null  float64
 18  Nature                                      14111 non-null  object
 19  Décès ou bâtiments touchés                  4731 non-null   object
 20  Nombre de décès                             866 non-null    float64
 21  Nombre de bâtiments totalement détruits     867 non-null    float64
 22  Nombre de bâtiments partiellement détruits  866 non-null    float64
 23  Précision de la donnée                      813 non-null    object
dtypes: float64(13), int64(3), object(8)
memory usage: 5.4+ MB

(None,
     Année  Numéro Département Code INSEE      Nom de la commune  \
 0    2014    6330          66      66190      Salses-le-Château
 1    2014    2369          06      06074              Lantosque
 2    2014    2546          2A      2A139                  Lecci
 3    2014       6          65      65173                Esterre
 4    2014    8243          2B      2B058                 Canari
 5    2014       7          65      65233                 Jarret
 6    2014    1997          30      30051  Branoux-les-Taillades
 7    2014    6439          66      66196                 Sorède
 8    2014    6002          2B      2B242         Poggio-Mezzana
 9    2014      56         974      97421                Salazie
 10   2014       1         974      97412           Saint-Joseph
 11   2014      57         974      97410           Saint-Benoît
 12   2014    1986          06      06122          Saint-Jeannet
 13   2014    5239          2B      2B036                Bigorno
 14   2014    5458          2B      2B341                 Venaco
 15   2014    6548          66      66037    Canet-en-Roussillon
 16   2014    5567          2B      2B346              Vescovato
 17   2014    6658          83      83090              Ollioules
 18   2014    2008          06      06074              Lantosque
 19   2014    7643          2B      2B195              Ortiporio

    Date de première alerte  Surface parcourue (m2)  Surface forêt (m2)  \
 0      2014-01-02 14:56:00                   10000                 NaN
 1      2014-01-07 13:50:00                   48400                 NaN
 2      2014-01-09 16:14:00                      10                 NaN
 3      2014-01-10 20:04:00                   10000             10000.0
 4      2014-01-11 14:00:00                     100                 NaN
 5      2014-01-12 16:41:00                     200                 0.0
 6      2014-01-13 19:24:00                    2500                 NaN
 7      2014-01-17 16:40:00                   10000                 NaN
 8      2014-01-18 14:57:00                    3000                 0.0
 9      2014-01-21 14:08:00                    3000                 0.0
 10     2014-01-21 17:27:00                   10000                 0.0
 11     2014-01-21 18:28:00                    2000                 0.0
 12     2014-01-26 12:21:00                    3000                 NaN
 13     2014-01-26 13:29:00                   10000                 0.0
 14     2014-01-26 13:58:00                    5000                 0.0
 15     2014-01-26 16:14:00                   15000                 NaN
 16     2014-01-26 19:04:00                   30000                 NaN
 17     2014-01-27 11:11:00                     250               250.0
 18     2014-01-27 12:00:00                   36000                 NaN
 19     2014-01-27 14:52:00                     700                 NaN

     Surface maquis garrigues (m2)  Autres surfaces naturelles hors forêt (m2)  \
 0                         10000.0                                         NaN
 1                         48400.0                                         NaN
 2                             NaN                                         NaN
 3                             NaN                                         0.0
 4                             NaN                                         NaN
 5                             NaN                                       200.0
 6                             NaN                                         NaN
 7                         10000.0                                         NaN
 8                          3000.0                                         NaN
 9                             NaN                                      3000.0
 10                            NaN                                     10000.0
 11                            NaN                                      2000.0
 12                         3000.0                                         NaN
 13                        10000.0                                         NaN
 14                         5000.0                                         NaN
 15                        15000.0                                         NaN
 16                            NaN                                         NaN
 17                            NaN                                         NaN
 18                        36000.0                                         NaN
 19                            NaN                                         NaN

     ...  Surfaces non boisées artificialisées (m2)  Surfaces non boisées (m2)  \
 0   ...                                        NaN                        NaN
 1   ...                                        NaN                        NaN
 2   ...                                        NaN                        NaN
 3   ...                                        0.0                        0.0
 4   ...                                        NaN                        NaN
 5   ...                                        0.0                        0.0
 6   ...                                        NaN                        NaN
 7   ...                                        NaN                        NaN
 8   ...                                        NaN                        0.0
 9   ...                                        0.0                        0.0
 10  ...                                        0.0                        0.0
 11  ...                                        0.0                        0.0
 12  ...                                        NaN                        NaN
 13  ...                                        NaN                        0.0
 14  ...                                        NaN                        0.0
 15  ...                                        NaN                        NaN
 16  ...                                        NaN                        NaN
 17  ...                                        NaN                        NaN
 18  ...                                        NaN                        NaN
 19  ...                                        NaN                        NaN

     Précision des surfaces  Type de peuplement                      Nature  \
 0                      NaN                 1.0  Involontaire (particulier)
 1                      NaN                 1.0                         NaN
 2                      NaN                 NaN                         NaN
 3                 Estimées                 NaN                         NaN
 4                      NaN                 NaN                         NaN
 5                 Estimées                 NaN                         NaN
 6                      NaN                 NaN                         NaN
 7                      NaN                 1.0      Involontaire (travaux)
 8                      NaN                 1.0                         NaN
 9                 Estimées                 NaN                         NaN
 10                Estimées                 NaN                         NaN
 11                Estimées                 NaN                         NaN
 12                     NaN                 1.0                Malveillance
 13                     NaN                 1.0                         NaN
 14                     NaN                 1.0                         NaN
 15                     NaN                 1.0                Malveillance
 16                     NaN                 3.0                         NaN
 17                     NaN                 4.0                Malveillance
 18                     NaN                 1.0                Malveillance
 19                     NaN                 NaN                         NaN

     Décès ou bâtiments touchés Nombre de décès  \
 0                          NaN             NaN
 1                          NaN             NaN
 2                          NaN             NaN
 3                          NaN             NaN
 4                          NaN             NaN
 5                          NaN             NaN
 6                          NaN             NaN
 7                          NaN             NaN
 8                          NaN             NaN
 9                          NaN             NaN
 10                         NaN             NaN
 11                         NaN             NaN
 12                         NaN             NaN
 13                         NaN             NaN
 14                         NaN             NaN
 15                         NaN             NaN
 16                         NaN             NaN
 17                         NaN             NaN
 18                         NaN             NaN
 19                         NaN             NaN

     Nombre de bâtiments totalement détruits  \
 0                                       NaN
 1                                       NaN
 2                                       NaN
 3                                       NaN
 4                                       NaN
 5                                       NaN
 6                                       NaN
 7                                       NaN
 8                                       NaN
 9                                       NaN
 10                                      NaN
 11                                      NaN
 12                                      NaN
 13                                      NaN
 14                                      NaN
 15                                      NaN
 16                                      NaN
 17                                      NaN
 18                                      NaN
 19                                      NaN

    Nombre de bâtiments partiellement détruits Précision de la donnée
 0                                         NaN                    NaN
 1                                         NaN                    NaN
 2                                         NaN                    NaN
 3                                         NaN                    NaN
 4                                         NaN                    NaN
 5                                         NaN                    NaN
 6                                         NaN                    NaN
 7                                         NaN                    NaN
 8                                         NaN                    NaN
 9                                         NaN                    NaN
 10                                        NaN                    NaN
 11                                        NaN                    NaN
 12                                        NaN                    NaN
 13                                        NaN                    NaN
 14                                        NaN                    NaN
 15                                        NaN                    NaN
 16                                        NaN                    NaN
 17                                        NaN                    NaN
 18                                        NaN                    NaN
 19                                        NaN                    NaN

 [20 rows x 24 columns],
 None)

In [21]:
#convertion de la colonne Code INSEE en numerique
df['Code INSEE']= pd.to_numeric(df['Code INSEE']).astype('Int64')
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 29732 entries, 0 to 29731
Data columns (total 24 columns):
 #   Column                                      Non-Null Count  Dtype
---  ------                                      --------------  -----
 0   Année                                       29732 non-null  int64
 1   Numéro                                      29732 non-null  int64
 2   Département                                 29732 non-null  object
 3   Code INSEE                                  25365 non-null  Int64
 4   Nom de la commune                           29705 non-null  object
 5   Date de première alerte                     29732 non-null  object
 6   Surface parcourue (m2)                      29732 non-null  int64
 7   Surface forêt (m2)                          21005 non-null  float64
 8   Surface maquis garrigues (m2)               8809 non-null   float64
 9   Autres surfaces naturelles hors forêt (m2)  14536 non-null  float64
 10  Surfaces agricoles (m2)                     4064 non-null   float64
 11  Autres surfaces (m2)                        4048 non-null   float64
 12  Surface autres terres boisées (m2)          10551 non-null  float64
 13  Surfaces non boisées naturelles (m2)        7620 non-null   float64
 14  Surfaces non boisées artificialisées (m2)   7422 non-null   float64
 15  Surfaces non boisées (m2)                   11671 non-null  float64
 16  Précision des surfaces                      12091 non-null  object
 17  Type de peuplement                          11135 non-null  float64
 18  Nature                                      14111 non-null  object
 19  Décès ou bâtiments touchés                  4731 non-null   object
 20  Nombre de décès                             866 non-null    float64
 21  Nombre de bâtiments totalement détruits     867 non-null    float64
 22  Nombre de bâtiments partiellement détruits  866 non-null    float64
 23  Précision de la donnée                      813 non-null    object
dtypes: Int64(1), float64(13), int64(3), object(7)
memory usage: 5.5+ MB

In [ ]:
# appelle du département par code postal
url = 'https://public-api.meteofrance.fr/public/DPClim/v1/liste-stations/quotidienne'

params = {
    'id-departement': '34',
    'parametre': 'temperature'
}

headers = {
    'accept': '*/*',
    'apikey': 'eyJ4NXQiOiJZV0kxTTJZNE1qWTNOemsyTkRZeU5XTTRPV014TXpjek1UVmhNbU14T1RSa09ETXlOVEE0Tnc9PSIsImtpZCI6ImdhdGV3YXlfY2VydGlmaWNhdGVfYWxpYXMiLCJ0eXAiOiJKV1QiLCJhbGciOiJSUzI1NiJ9.eyJzdWIiOiJnZGxlZHMzMUBjYXJib24uc3VwZXIiLCJhcHBsaWNhdGlvbiI6eyJvd25lciI6ImdkbGVkczMxIiwidGllclF1b3RhVHlwZSI6bnVsbCwidGllciI6IlVubGltaXRlZCIsIm5hbWUiOiJEZWZhdWx0QXBwbGljYXRpb24iLCJpZCI6MjgxOTcsInV1aWQiOiJjMDA0ZmQ1NC0xMTY3LTQ3MTEtOWQ3MC04M2ExZWI0YmI0MGYifSwiaXNzIjoiaHR0cHM6XC9cL3BvcnRhaWwtYXBpLm1ldGVvZnJhbmNlLmZyOjQ0M1wvb2F1dGgyXC90b2tlbiIsInRpZXJJbmZvIjp7IjUwUGVyTWluIjp7InRpZXJRdW90YVR5cGUiOiJyZXF1ZXN0Q291bnQiLCJncmFwaFFMTWF4Q29tcGxleGl0eSI6MCwiZ3JhcGhRTE1heERlcHRoIjowLCJzdG9wT25RdW90YVJlYWNoIjp0cnVlLCJzcGlrZUFycmVzdExpbWl0IjowLCJzcGlrZUFycmVzdFVuaXQiOiJzZWMifX0sImtleXR5cGUiOiJQUk9EVUNUSU9OIiwic3Vic2NyaWJlZEFQSXMiOlt7InN1YnNjcmliZXJUZW5hbnREb21haW4iOiJjYXJib24uc3VwZXIiLCJuYW1lIjoiRG9ubmVlc1B1YmxpcXVlc0NsaW1hdG9sb2dpZSIsImNvbnRleHQiOiJcL3B1YmxpY1wvRFBDbGltXC92MSIsInB1Ymxpc2hlciI6ImFkbWluX21mIiwidmVyc2lvbiI6InYxIiwic3Vic2NyaXB0aW9uVGllciI6IjUwUGVyTWluIn1dLCJleHAiOjE3NDgwMDU5MTUsInRva2VuX3R5cGUiOiJhcGlLZXkiLCJpYXQiOjE3NDgwMDIzMTUsImp0aSI6IjM5MmYxNzljLTdhYjEtNDNlZS05NGZhLTEzZWJmNzY3MDQ5OCJ9.W1mQ5gRwQwIQU-vNtfb90IvJnHVN_pjzHBYIcDSeb09Qdi66nT3Bn2zIc8ptO8aY2EXAAAM47OJsGA9FCUFb-fJZgq9tDiNCQwxn5bsi-3guA6us0gpOQv0C3XXf6_VpIly6etfPSh17oqKs6vJ8APINBVYWpbjq2Tz9o5R8BJJGdhOwWaCTLsg9NwXGZ3DRQJuAvR1kVvSPVAU-ytKeGMk6R3z3Ox7prOXW6UxWa9c9amgGLy3UC0IfLZmBVJkCQbzyq_hHZfKH3uerGnemv2WutkphvMvmUAe8lpmuhvH-1LMbk3lvkIMhQvqDBEn3ML9_VZ-9293qcjtHIURa2g=='
}

response = requests.get(url, headers=headers, params=params)

print(response.status_code)
print(response.json())

200
[{'id': '34003001', 'nom': 'AGDE', 'posteOuvert': False, 'typePoste': 4, 'lon': 3.516667, 'lat': 43.283333, 'alt': 2, 'postePublic': True}, {'id': '34008001', 'nom': 'LES AIRES', 'posteOuvert': False, 'typePoste': 4, 'lon': 3.108333, 'lat': 43.584167, 'alt': 190, 'postePublic': True}, {'id': '34019001', 'nom': 'AVENE', 'posteOuvert': False, 'typePoste': 4, 'lon': 3.11, 'lat': 43.755, 'alt': 301, 'postePublic': True}, {'id': '34026001', 'nom': 'BEAUFORT', 'posteOuvert': False, 'typePoste': 4, 'lon': 2.756667, 'lat': 43.298333, 'alt': 86, 'postePublic': True}, {'id': '34028001', 'nom': 'BEDARIEUX', 'posteOuvert': False, 'typePoste': 4, 'lon': 3.156667, 'lat': 43.615, 'alt': 224, 'postePublic': True}, {'id': '34028003', 'nom': 'BEDARIEUX', 'posteOuvert': True, 'typePoste': 2, 'lon': 3.146, 'lat': 43.639833, 'alt': 373, 'postePublic': True}, {'id': '34030002', 'nom': 'BERLOU', 'posteOuvert': False, 'typePoste': 4, 'lon': 2.963, 'lat': 43.490833, 'alt': 191, 'postePublic': True}, {'id': '34032002', 'nom': 'BEZIERS-COURTADE', 'posteOuvert': True, 'typePoste': 2, 'lon': 3.155, 'lat': 43.334333, 'alt': 25, 'postePublic': True}, {'id': '34032005', 'nom': 'BEZIERS AGGLOMERATION', 'posteOuvert': False, 'typePoste': 4, 'lon': 3.218333, 'lat': 43.345, 'alt': 62, 'postePublic': True}, {'id': '34032015', 'nom': 'BEZIERS-BAYSSAN', 'posteOuvert': False, 'typePoste': 4, 'lon': 3.202167, 'lat': 43.302333, 'alt': 37, 'postePublic': True}, {'id': '34046002', 'nom': 'SALVERGUES', 'posteOuvert': False, 'typePoste': 4, 'lon': 2.9, 'lat': 43.633333, 'alt': 1030, 'postePublic': True}, {'id': '34046005', 'nom': 'CAMBON-ET-SALVERGUES', 'posteOuvert': True, 'typePoste': 2, 'lon': 2.865333, 'lat': 43.622333, 'alt': 955, 'postePublic': True}, {'id': '34055003', 'nom': 'CASTANET LE HAUT_SAPC', 'posteOuvert': True, 'typePoste': 2, 'lon': 2.976167, 'lat': 43.6675, 'alt': 424, 'postePublic': True}, {'id': '34057001', 'nom': 'CASTELNAU LE LE', 'posteOuvert': False, 'typePoste': 4, 'lon': 3.9, 'lat': 43.631667, 'alt': 31, 'postePublic': True}, {'id': '34064002', 'nom': 'LE CAYLAR G.', 'posteOuvert': False, 'typePoste': 2, 'lon': 3.325, 'lat': 43.86, 'alt': 730, 'postePublic': True}, {'id': '34064003', 'nom': 'LE CAYLAR_SAPC', 'posteOuvert': True, 'typePoste': 2, 'lon': 3.3085, 'lat': 43.867167, 'alt': 729, 'postePublic': True}, {'id': '34069001', 'nom': 'CAZOULS-LES-BEZIERS', 'posteOuvert': False, 'typePoste': 4, 'lon': 3.097167, 'lat': 43.403, 'alt': 97, 'postePublic': True}, {'id': '34079003', 'nom': "CLERMONT-L'HERAULT", 'posteOuvert': False, 'typePoste': 4, 'lon': 3.428333, 'lat': 43.626667, 'alt': 90, 'postePublic': True}, {'id': '34079004', 'nom': "CLERMONT L'HERAULT", 'posteOuvert': False, 'typePoste': 4, 'lon': 3.3985, 'lat': 43.6565, 'alt': 145, 'postePublic': True}, {'id': '34086001', 'nom': 'COURNIOU', 'posteOuvert': False, 'typePoste': 2, 'lon': 2.695333, 'lat': 43.495, 'alt': 501, 'postePublic': True}, {'id': '34107003', 'nom': 'FRAISSE-SUR-AGOUT', 'posteOuvert': False, 'typePoste': 4, 'lon': 2.796667, 'lat': 43.606667, 'alt': 960, 'postePublic': True}, {'id': '34107004', 'nom': 'FRAISSE SUR AGO', 'posteOuvert': False, 'typePoste': 4, 'lon': 2.806667, 'lat': 43.603333, 'alt': 850, 'postePublic': True}, {'id': '34111001', 'nom': 'GANGES', 'posteOuvert': False, 'typePoste': 4, 'lon': 3.710667, 'lat': 43.931833, 'alt': 149, 'postePublic': True}, {'id': '34113001', 'nom': 'GIGEAN', 'posteOuvert': False, 'typePoste': 4, 'lon': 3.708333, 'lat': 43.498333, 'alt': 44, 'postePublic': True}, {'id': '34114001', 'nom': 'GIGNAC', 'posteOuvert': False, 'typePoste': 2, 'lon': 3.563333, 'lat': 43.663333, 'alt': 58, 'postePublic': True}, {'id': '34115001', 'nom': 'ROC BLANC', 'posteOuvert': False, 'typePoste': 2, 'lon': 3.633333, 'lat': 43.866667, 'alt': 942, 'postePublic': True}, {'id': '34119001', 'nom': 'HEREPIAN', 'posteOuvert': False, 'typePoste': 4, 'lon': 3.113333, 'lat': 43.593333, 'alt': 192, 'postePublic': True}, {'id': '34135001', 'nom': 'LESPIGNAN', 'posteOuvert': False, 'typePoste': 4, 'lon': 3.165, 'lat': 43.274, 'alt': 23, 'postePublic': True}, {'id': '34141001', 'nom': 'LA LIVINIERE ECOLE', 'posteOuvert': False, 'typePoste': 4, 'lon': 2.635, 'lat': 43.316667, 'alt': 150, 'postePublic': True}, {'id': '34141002', 'nom': 'LA LIVINIERE', 'posteOuvert': False, 'typePoste': 4, 'lon': 2.636167, 'lat': 43.314333, 'alt': 131, 'postePublic': True}, {'id': '34142001', 'nom': 'LODEVE', 'posteOuvert': True, 'typePoste': 2, 'lon': 3.302667, 'lat': 43.720333, 'alt': 182, 'postePublic': True}, {'id': '34144001', 'nom': 'LUNAS', 'posteOuvert': True, 'typePoste': 2, 'lon': 3.170667, 'lat': 43.695833, 'alt': 249, 'postePublic': True}, {'id': '34150001', 'nom': 'MARSEILLAN-INRAE', 'posteOuvert': True, 'typePoste': 3, 'lon': 3.565333, 'lat': 43.328333, 'alt': 1, 'postePublic': True}, {'id': '34151001', 'nom': 'MARSILLARGUES MAS DE BONY', 'posteOuvert': False, 'typePoste': 4, 'lon': 4.178333, 'lat': 43.665, 'alt': 2, 'postePublic': True}, {'id': '34151003', 'nom': 'MARSILLARGUES', 'posteOuvert': False, 'typePoste': 4, 'lon': 4.178333, 'lat': 43.665, 'alt': 2, 'postePublic': True}, {'id': '34151005', 'nom': 'MARSILLARGUES', 'posteOuvert': True, 'typePoste': 2, 'lon': 4.168, 'lat': 43.633833, 'alt': 4, 'postePublic': True}, {'id': '34154001', 'nom': 'MONTPELLIER-AEROPORT', 'posteOuvert': True, 'typePoste': 0, 'lon': 3.964667, 'lat': 43.576167, 'alt': 1, 'postePublic': True}, {'id': '34162001', 'nom': 'MONTAGNAC', 'posteOuvert': False, 'typePoste': 4, 'lon': 3.556667, 'lat': 43.473333, 'alt': 45, 'postePublic': True}, {'id': '34163001', 'nom': 'MONTARNAUD', 'posteOuvert': True, 'typePoste': 2, 'lon': 3.688167, 'lat': 43.635833, 'alt': 148, 'postePublic': True}, {'id': '34172001', 'nom': 'MONTPELLIER-ENSAM', 'posteOuvert': False, 'typePoste': 3, 'lon': 3.858333, 'lat': 43.618333, 'alt': 45, 'postePublic': True}, {'id': '34172002', 'nom': 'ECOLE NORMALE', 'posteOuvert': False, 'typePoste': 4, 'lon': 3.873333, 'lat': 43.608333, 'alt': 37, 'postePublic': True}, {'id': '34172003', 'nom': 'JARDIN PLANTES', 'posteOuvert': False, 'typePoste': 4, 'lon': 3.873333, 'lat': 43.608333, 'alt': 29, 'postePublic': True}, {'id': '34172007', 'nom': 'ECOLE AGRICOLE', 'posteOuvert': False, 'typePoste': 4, 'lon': 3.873333, 'lat': 43.608333, 'alt': 43, 'postePublic': True}, {'id': '34172009', 'nom': 'MONTPELLIER ECOLE REGIMENTAIRE', 'posteOuvert': False, 'typePoste': 4, 'lon': 3.873333, 'lat': 43.608333, 'alt': 37, 'postePublic': True}, {'id': '34174002', 'nom': 'MOULES-ET-BAUCELS', 'posteOuvert': True, 'typePoste': 2, 'lon': 3.752, 'lat': 43.948, 'alt': 252, 'postePublic': True}, {'id': '34178001', 'nom': 'MURVIEL LES BEZIERS', 'posteOuvert': True, 'typePoste': 1, 'lon': 3.146, 'lat': 43.476, 'alt': 140, 'postePublic': True}, {'id': '34186001', 'nom': 'OCTON', 'posteOuvert': False, 'typePoste': 4, 'lon': 3.306167, 'lat': 43.655, 'alt': 184, 'postePublic': True}, {'id': '34192002', 'nom': 'PALAVAS-LES-FLOTS-AGG', 'posteOuvert': False, 'typePoste': 4, 'lon': 3.935, 'lat': 43.528333, 'alt': 2, 'postePublic': True}, {'id': '34199003', 'nom': 'PEZENAS AGGLOMERATION', 'posteOuvert': False, 'typePoste': 4, 'lon': 3.425, 'lat': 43.46, 'alt': 17, 'postePublic': True}, {'id': '34205001', 'nom': 'LES PLANS', 'posteOuvert': True, 'typePoste': 1, 'lon': 3.246167, 'lat': 43.786, 'alt': 846, 'postePublic': True}, {'id': '34205002', 'nom': 'LES PLANS-SPC', 'posteOuvert': True, 'typePoste': 5, 'lon': 3.243, 'lat': 43.761, 'alt': 329, 'postePublic': True}, {'id': '34209002', 'nom': 'BEZIERS-VIAS', 'posteOuvert': True, 'typePoste': 0, 'lon': 3.352667, 'lat': 43.322, 'alt': 15, 'postePublic': True}, {'id': '34210001', 'nom': 'LE POUGET', 'posteOuvert': False, 'typePoste': 4, 'lon': 3.521667, 'lat': 43.581667, 'alt': 70, 'postePublic': True}, {'id': '34217001', 'nom': 'PRADES LE LEZ', 'posteOuvert': True, 'typePoste': 1, 'lon': 3.866667, 'lat': 43.718333, 'alt': 69, 'postePublic': True}, {'id': '34232001', 'nom': 'ROQUEBRUN', 'posteOuvert': False, 'typePoste': 4, 'lon': 3.028333, 'lat': 43.501667, 'alt': 155, 'postePublic': True}, {'id': '34233001', 'nom': 'ROQUEREDONDE', 'posteOuvert': False, 'typePoste': 4, 'lon': 3.212667, 'lat': 43.8, 'alt': 685, 'postePublic': True}, {'id': '34237001', 'nom': 'ROUJAN-INRAE', 'posteOuvert': True, 'typePoste': 3, 'lon': 3.321333, 'lat': 43.491667, 'alt': 73, 'postePublic': True}, {'id': '34239002', 'nom': 'ST ANDRE DE SANGONIS', 'posteOuvert': True, 'typePoste': 1, 'lon': 3.507833, 'lat': 43.664167, 'alt': 86, 'postePublic': True}, {'id': '34249002', 'nom': 'ST DREZERY', 'posteOuvert': False, 'typePoste': 4, 'lon': 3.993333, 'lat': 43.728833, 'alt': 71, 'postePublic': True}, {'id': '34255001', 'nom': 'ST GELY DU FESC', 'posteOuvert': False, 'typePoste': 4, 'lon': 3.805, 'lat': 43.691667, 'alt': 100, 'postePublic': True}, {'id': '34255002', 'nom': 'SAINT-GELY-DU-FESC', 'posteOuvert': False, 'typePoste': 4, 'lon': 3.805, 'lat': 43.691667, 'alt': 185, 'postePublic': True}, {'id': '34258001', 'nom': 'ST GENIES LE BA', 'posteOuvert': False, 'typePoste': 4, 'lon': 3.18, 'lat': 43.468333, 'alt': 93, 'postePublic': True}, {'id': '34269001', 'nom': 'ST JEAN DE MINERVOIS', 'posteOuvert': True, 'typePoste': 2, 'lon': 2.857667, 'lat': 43.385667, 'alt': 258, 'postePublic': True}, {'id': '34274001', 'nom': 'ST MARTIN DE LONDRES', 'posteOuvert': True, 'typePoste': 1, 'lon': 3.729333, 'lat': 43.7795, 'alt': 214, 'postePublic': True}, {'id': '34276002', 'nom': 'TREVIERS GEND', 'posteOuvert': False, 'typePoste': 4, 'lon': 3.858333, 'lat': 43.768333, 'alt': 104, 'postePublic': True}, {'id': '34276003', 'nom': 'ST MATHIEU', 'posteOuvert': False, 'typePoste': 4, 'lon': 3.858333, 'lat': 43.768333, 'alt': 130, 'postePublic': True}, {'id': '34277001', 'nom': 'ST MAURICE-NAVACELLE', 'posteOuvert': True, 'typePoste': 2, 'lon': 3.522333, 'lat': 43.841333, 'alt': 584, 'postePublic': True}, {'id': '34300001', 'nom': 'SERVIAN', 'posteOuvert': False, 'typePoste': 4, 'lon': 3.3315, 'lat': 43.442167, 'alt': 66, 'postePublic': True}, {'id': '34300002', 'nom': 'SERVIAN', 'posteOuvert': False, 'typePoste': 4, 'lon': 3.304, 'lat': 43.413167, 'alt': 52, 'postePublic': True}, {'id': '34301002', 'nom': 'SETE', 'posteOuvert': True, 'typePoste': 0, 'lon': 3.692167, 'lat': 43.397333, 'alt': 75, 'postePublic': True}, {'id': '34301003', 'nom': 'SETE - PC', 'posteOuvert': False, 'typePoste': 4, 'lon': 3.695, 'lat': 43.406667, 'alt': 2, 'postePublic': True}, {'id': '34301004', 'nom': 'SETE CAP DE VIGIE', 'posteOuvert': False, 'typePoste': 4, 'lon': 3.685333, 'lat': 43.4025, 'alt': 184, 'postePublic': True}, {'id': '34301006', 'nom': 'SETE AGGLOMERATION', 'posteOuvert': False, 'typePoste': 4, 'lon': 3.695, 'lat': 43.406667, 'alt': 24, 'postePublic': True}, {'id': '34302001', 'nom': 'SIRAN', 'posteOuvert': True, 'typePoste': 2, 'lon': 2.675167, 'lat': 43.3265, 'alt': 137, 'postePublic': True}, {'id': '34306001', 'nom': 'SOUMONT', 'posteOuvert': True, 'typePoste': 2, 'lon': 3.3475, 'lat': 43.707, 'alt': 252, 'postePublic': True}, {'id': '34311001', 'nom': 'PEZENAS-TOURBES', 'posteOuvert': True, 'typePoste': 1, 'lon': 3.400333, 'lat': 43.437667, 'alt': 40, 'postePublic': True}, {'id': '34317001', 'nom': 'LA VACQUERIE_SAPC', 'posteOuvert': True, 'typePoste': 2, 'lon': 3.457833, 'lat': 43.792, 'alt': 620, 'postePublic': True}, {'id': '34319001', 'nom': 'VAILHAN', 'posteOuvert': True, 'typePoste': 2, 'lon': 3.299333, 'lat': 43.546833, 'alt': 122, 'postePublic': True}, {'id': '34322003', 'nom': 'VALFLAUNES-PLAINE', 'posteOuvert': False, 'typePoste': 4, 'lon': 3.844667, 'lat': 43.788167, 'alt': 126, 'postePublic': True}, {'id': '34324001', 'nom': 'VALRAS PLAGE', 'posteOuvert': False, 'typePoste': 4, 'lon': 3.301667, 'lat': 43.251667, 'alt': 2, 'postePublic': True}, {'id': '34330001', 'nom': 'VERARGUES', 'posteOuvert': False, 'typePoste': 4, 'lon': 4.096667, 'lat': 43.721333, 'alt': 56, 'postePublic': True}, {'id': '34330002', 'nom': 'VERARGUES SA', 'posteOuvert': False, 'typePoste': 2, 'lon': 4.083333, 'lat': 43.7, 'alt': 27, 'postePublic': True}, {'id': '34337001', 'nom': 'VILLENEUVE-LES-MAG-INRAE', 'posteOuvert': True, 'typePoste': 3, 'lon': 3.853833, 'lat': 43.538167, 'alt': 20, 'postePublic': True}, {'id': '34339001', 'nom': 'VILLESPASSANS', 'posteOuvert': False, 'typePoste': 4, 'lon': 2.881, 'lat': 43.364333, 'alt': 219, 'postePublic': True}, {'id': '34344001', 'nom': 'LA GRANDE MOTTE', 'posteOuvert': False, 'typePoste': 2, 'lon': 4.082, 'lat': 43.5565, 'alt': 2, 'postePublic': True}]

In [ ]:
# je transforme le JSON en dataframe
data = response.json()
df_response = pd.DataFrame(data)
df_response.head(), df_response.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 85 entries, 0 to 84
Data columns (total 8 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   id           85 non-null     object
 1   nom          85 non-null     object
 2   posteOuvert  85 non-null     bool
 3   typePoste    85 non-null     int64
 4   lon          85 non-null     float64
 5   lat          85 non-null     float64
 6   alt          85 non-null     int64
 7   postePublic  85 non-null     bool
dtypes: bool(2), float64(2), int64(2), object(2)
memory usage: 4.3+ KB

(         id        nom  posteOuvert  typePoste       lon        lat  alt  \
 0  34003001       AGDE        False          4  3.516667  43.283333    2
 1  34008001  LES AIRES        False          4  3.108333  43.584167  190
 2  34019001      AVENE        False          4  3.110000  43.755000  301
 3  34026001   BEAUFORT        False          4  2.756667  43.298333   86
 4  34028001  BEDARIEUX        False          4  3.156667  43.615000  224

    postePublic
 0         True
 1         True
 2         True
 3         True
 4         True  ,
 None)

In [ ]:
# je crée un mask pour ne récupérer que les données du 34
mask = (df["Code INSEE"] >= 34000) & (df["Code INSEE"] <= 35000)
df_herault = df[mask]
df_herault.head(5)

,Année,Numéro,Département,Code INSEE,Nom de la commune,Date de première alerte,Surface parcourue (m2),Surface forêt (m2),Surface maquis garrigues (m2),Autres surfaces naturelles hors forêt (m2),...,Surfaces non boisées artificialisées (m2),Surfaces non boisées (m2),Précision des surfaces,Type de peuplement,Nature,Décès ou bâtiments touchés,Nombre de décès,Nombre de bâtiments totalement détruits,Nombre de bâtiments partiellement détruits,Précision de la donnée
27,2014,3812,34,34075,Cesseras,2014-02-12 14:10:00,9500,2000.0,7500.0,NaN,...,NaN,NaN,NaN,1.0,Malveillance,NaN,NaN,NaN,NaN,NaN
41,2014,4375,34,34319,Vailhan,2014-02-17 16:18:00,5000,NaN,5000.0,NaN,...,NaN,NaN,NaN,1.0,Malveillance,NaN,NaN,NaN,NaN,NaN
43,2014,3343,34,34245,Saint-Chinian,2014-02-19 16:33:00,800,800.0,NaN,NaN,...,NaN,NaN,NaN,4.0,Malveillance,NaN,NaN,NaN,NaN,NaN
50,2014,3332,34,34170,Montouliers,2014-02-23 14:54:00,92000,50000.0,42000.0,NaN,...,NaN,NaN,NaN,4.0,Involontaire (particulier),NaN,NaN,NaN,NaN,NaN
66,2014,8451,34,34190,Oupia,2014-03-05 22:27:00,150,NaN,150.0,NaN,...,NaN,NaN,NaN,1.0,Malveillance,NaN,NaN,NaN,NaN,NaN

In [57]:
# ouverture du fichier de correspondance des code INSEE récupéré sur data.gouv
df2 = pd.read_csv('correspondance-code-insee-code-postal.csv', sep=';')
df2.head()

,Code INSEE,Code Postal,Commune,Département,Région,Statut,Altitude Moyenne,Superficie,Population,geo_point_2d,geo_shape,ID Geofla,Code Commune,Code Canton,Code Arrondissement,Code Département,Code Région
0,66033,66300,CAMELAS,['PYRENEES-ORIENTALES'],['LANGUEDOC-ROUSSILLON'],['Commune simple'],256.0,1299.0,0.4,"42.639460715710925, 2.6889148905394613","{""coordinates"": [[[2.673016106975883, 42.61202...",35535,33,17,2,66,91
1,64254,64370,HAGETAUBIN,['PYRENEES-ATLANTIQUES'],['AQUITAINE'],['Commune simple'],106.0,1874.0,0.5,"43.510561909594024, -0.612895161323306","{""coordinates"": [[[-0.5869934199585, 43.487993...",905,254,3,3,64,72
2,47260,47270,SAINT-MAURIN,['LOT-ET-GARONNE'],['AQUITAINE'],['Commune simple'],143.0,2187.0,0.5,"44.21584680376108, 0.8936370457330151","{""coordinates"": [[[0.9031113551375021, 44.1900...",750,260,4,1,47,72
3,80118,80150,BOUFFLERS,['SOMME'],['PICARDIE'],['Commune simple'],50.0,557.0,0.1,"50.25894479050434, 2.021288658965274","{""coordinates"": [[[2.041095653892836, 50.24688...",26556,118,19,1,80,22
4,46147,46220,LAGARDELLE,['LOT'],['MIDI-PYRENEES'],['Commune simple'],110.0,317.0,0.1,"44.48709070580215, 1.170693334968643","{""coordinates"": [[[1.180099496531688, 44.47195...",34133,147,23,1,46,73

In [61]:
df2[df2['Commune'] == 'AJACCIO' ]

,Code INSEE,Code Postal,Commune,Département,Région,Statut,Altitude Moyenne,Superficie,Population,geo_point_2d,geo_shape,ID Geofla,Code Commune,Code Canton,Code Arrondissement,Code Département,Code Région
7554,2A004,20000,AJACCIO,['CORSE-DU-SUD'],['CORSE'],['Préfecture de région'],136.0,8314.0,64.3,"41.93479266376617, 8.701322759741174","{""coordinates"": [[[8.636808168843949, 41.90797...",5174,4,98,1,2A,94

In [60]:
# je transforme la colonne obet en int64 attention vérifier si les codes corses sont bien transformé
df2['Code INSEE']= pd.to_numeric(df2['Code INSEE'], errors='ignore').astype('Int64')
df2.info()

C:\Users\m_bar\AppData\Local\Temp\ipykernel_32460\2932175790.py:2: FutureWarning: errors='ignore' is deprecated and will raise in a future version. Use to_numeric without passing `errors` and catch exceptions explicitly instead
  df2['Code INSEE']= pd.to_numeric(df2['Code INSEE'], errors='ignore').astype('Int64')

ValueError: invalid literal for int() with base 10: '2B009'

In [ ]:
#j'apelle le code INSEE pour avoir sa correspondance
df2[df2['Code INSEE'] == 34075 ]

,Code INSEE,Code Postal,Commune,Département,Région,Statut,Altitude Moyenne,Superficie,Population,geo_point_2d,geo_shape,ID Geofla,Code Commune,Code Canton,Code Arrondissement,Code Département,Code Région
3305,34075,34210,CESSERAS,['HERAULT'],['LANGUEDOC-ROUSSILLON'],['Commune simple'],176.0,1497.0,0.4,"43.33115898737346, 2.704066950250604","{""coordinates"": [[[2.726371101772233, 43.30590...",9868,75,27,1,34,91

In [51]:
# je vérifie dans la colonne id si j'ai bien une correspondance du code dans le fichier METEO en ajoutant 001 à la fin 
"34210001" in df_response.id.values

True